.bg-primary {
  background-color: #111827 !important;
}

.bg-light-grey {
  background-color: #F3F4F6;
}

.text-primary {
  color: #111827 !important;
}

.text-white {
  color: #fff;
}

.text-super-light {
  color: #E5E7EB;
}