@media only screen 
  and (min-width: 1000px) 
  and (max-width: 1300px) { 
    html {
      font-size: 10px;
    }
}

@media only screen 
  and (min-width: 1300px) 
  and (max-width: 1500px) { 
    html {
      font-size: 12px;
    }
}

@media only screen 
  and (min-width: 1500px) 
  and (max-width: 1750px) { 
    html {
      font-size: 14px;
    }
}

.header {
  box-sizing: border-box;
  height: 14.8vh;
  padding: 0 8.3vw;
}

.header__logo {
  grid-column: 1 / 1;
}

.header__name {
  grid-column: 2 / span 5;
}

.header__links {
  grid-column: 7 / span 6;
}

.top-section__body {
  box-sizing: border-box;
  height: 85.2vh;
  padding: 0 8.3vw;
  position: relative;
}

.ts__picture {
  position: absolute;
  width: calc(50vw - 2.2vw/2);
  height: 85.2vh;
  background: url("../img/arrow.png") no-repeat center center;
  background-size: cover;
}

.ts__text {
  grid-column: 7 / span 5;
}

.ts__button, .ts__p {
  margin-top: 3.69rem;
}

.about-section, .offer-section {
  box-sizing: border-box;
  height: 100vh;
  padding: 4.69rem 8.3vw;
}

.about-section {
  background-color: #F3F4F6;
}

.about__inner {
  margin-top: 4.69rem;
}

.about__text {
  grid-column: 1 / span 8;
}

.about__picture {
  grid-column: 9 / span 4;
  height: 68.64vh;
  border-radius: 15px;
  background: url("../img/compass.png") no-repeat center center;
  background-size: cover;
}

.about__principles-block {
  height: 35.56vh;
}

.about__principles-block span {
  display: block;
  padding-top: 5rem;
}

.about__principles-block span:before {
  display: inline-block;
  content: "";
  height: 2.31rem;
  width: 1rem;
  vertical-align: middle;
  background: url("../img/chevron-right.png") center center no-repeat;
  background-size: cover;
  margin-right: 1rem;
}

.offer__inner {
  height: 100%;
  column-gap: 2.2vw;
}

.offer-card {
  display: flex;
  margin-top: 7.9vh;
  width: 40.55vw;
  column-gap: 2.2vw;
}

.card__img {
  display: inline-block;
  flex: 1;
  width: 19.16vw;
  height: 31.35vh;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat
}

.img-create {
  background-image: url("../img/tablet.png");
}

.img-save {
  background-image: url("../img/roads.png");
}

.img-share {
  background-image: url("../img/family.png");
}

.img-enjoy {
  background-image: url("../img/heart.png");
}

.card__text {
  flex: 1;
  display: inline-block;
  display: flex;
  flex-direction: column;
}

.price__location {
  width: 13.19vw;
  height: 6.17vh;
}

.price__body {
  box-sizing: border-box;
  height: 85.2vh;
  padding: 4.69rem 8.3vw;

  column-gap: 2.2vw;
}

.price__card {
  box-sizing: border-box;
  padding: 3.95vh 0;
  border: 3px solid #111827;
  border-radius: 15px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.price__features-list {
  display: flex;
  flex-direction: column;
}

.price__features-list span {
  display: block;
  padding-top: 2rem;
}

.price__features-list span:before {
  display: inline-block;
  content: "";
  height: 2.31rem;
  width: 1rem;
  vertical-align: middle;
  background: url("../img/chevron-right.png") center center no-repeat;
  background-size: cover;
  margin-right: 1rem;
}

.contact-us-section {
  padding: 2rem 8.3vw 4.69rem;
}

.contact-us__body {
  margin-top: 3.95vh;
  column-gap: 9.3vw;
}

.contact-us__body > div {
  flex: 1;
}

.contact-us__body label {
  display: block;
  margin-bottom: 1.87vh;
}